# Contract addresses (required)
NEXT_PUBLIC_NFT_ADDRESS=0xA285c0f2cb1Bf72b94Fc71Bf3dC85C7A2da6480a
NEXT_PUBLIC_MARKETPLACE_ADDRESS=0xac37CE99815bF34f73426Ae5eEE2955Ef3544021

# WalletConnect project ID (optional)
# NEXT_PUBLIC_WC_PROJECT_ID=
